.home-container {
    text-align: left;
    background-image: url(../../backImg.jpg);
    background-repeat: no-repeat;
    height: 906px;
    width: 100%;
    display: flex;
    color: white;
    padding: 300px;
    gap: 200px;
  }
.welcome h1{
  font-weight: 500;
  color: white;
  font-size: 50px;
}
.roy{
  color: rgb(233, 74, 127);
}
.welcome h4{
  color: rgb(197, 98, 216);
}
.menU{
  text-decoration: none;
  color: white;
  border: 2px solid rgb(225, 144, 194);
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 50px;
}
.menU:hover{
  background-color: rgb(176, 160, 166);
  color: black;
}