container{
    justify-content: space-between!important;
    
}
.navBar{
    display: flex;
    gap: 40px;
    padding: 15px;
    transition: all 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    z-index: 997;
}
.royalRes{
    margin-right: 40px;
    font-weight: 300;
    font-size: 28px;
    font-family: sans-serif;
    line-height: 1;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
}
#navbarScrollingDropdown{
    margin-top: -8px;
}
